@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Muli:300,400,600,700,800,900');

body{font-family: 'Muli', sans-serif;font-weight:400;color:#333;padding-top: 80px;}
h1, h2, h3, h4, h5, h6{font-family: 'Montserrat', sans-serif;}

*, a, button, input{-webkit-transition: all 0.3s ease;-o-transition:all 0.3s ease;transition: all 0.3s ease;}
a, a:hover, a:focus{text-decoration:none;outline:none;}
button, button:hover, button:focus, button:active, input, input:hover, input:focus{outline:none;}

a{color:#00aeef;}
a:hover{color:#093042;}

ul{margin:0;padding:0;list-style:none;}
ul.inline li{display:inline-block;}
ul.block li{display:block;}


.com-btn{font-size:12px;color:#fff;background:#00aeef;border:solid 1px #00aeef;padding:9px 30px;text-transform:uppercase;font-weight:400;line-height:20px;display:inline-block;letter-spacing:1px;border-radius:0px;}
.com-btn:hover{background:#093042;color:#fff;border-color:#093042;}

.dark-btn{font-size:12px;color:#fff;background:#093042;border:solid 1px #093042;padding:9px 30px;text-transform:uppercase;font-weight:400;line-height:20px;display:inline-block;letter-spacing:1px;border-radius:0px;}
.dark-btn:hover{background:#00aeef;color:#fff;border-color:#00aeef;}

.flex-box{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;}

.fix-img{position: absolute;left: 50%;top: 50%;-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}



header{-webkit-transition: all 0.3s ease;-o-transition:all 0.3s ease;transition: all 0.3s ease;background:#fff;border-bottom:none;padding:10px 0;position: fixed;width: 100%;z-index:3;top:0;}
header.sticky{box-shadow:0px 0px 10px rgba(0,0,0,0.1);padding: 0;}

.navbar-default{margin:0;background:none;border:0;border-radius:0;box-shadow:none;box-shadow:none;}
.navbar-default .navbar-toggle{border:none;color:#fff;background:#6c63ff;border-radius:3px;padding:10px;font-weight:400;text-align:center;margin-top:22px;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{color:#fff;background:#4b42df;}
.navbar-default .navbar-toggle .icon-bar{background:#fff;}

.navbar-default .navbar-brand{height:auto;}
.navbar-default .navbar-brand img{width: 180px;}
.navbar-default .navbar-nav{margin-top:10px;}
.navbar-default .navbar-nav>li>a{color:#333s;font-weight:400;font-size:14px;padding:10px 15px;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{color:#00aeef;background:none;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{color:#00aeef;background:none;font-weight:700;}

.navbar-default .navbar-nav>li.btn-view{margin-left:20px;}
.navbar-default .navbar-nav>li.btn-view>a{border:none;color:#fff;background:#00aeef;border-radius:0px;padding:10px 25px;text-decoration:none;line-height:20px;font-size:12px;letter-spacing:1.5px;text-transform:uppercase;}
.navbar-default .navbar-nav>li.btn-view>a:hover{color:#fff;background:#093042;}

.navbar-default .user-drop {margin:0 0 0 20px;}
.navbar-default .user-drop .dropdown-toggle{border:none;color:#fff;background:#00aeef;border-radius:40px;padding:10px 20px;text-decoration:none;line-height:20px;font-size:12px;letter-spacing:1px;text-transform:uppercase;}
.navbar-default .user-drop .dropdown-toggle:hover, .navbar-default .user-drop .dropdown-toggle:focus{color:#fff;background:#093042;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{color:#fff;background:#093042;}
.navbar-default .navbar-nav .dropdown-menu {border: none;border-radius: 5px;top: 120%;right: 0;left: inherit;background:#fff;min-width:200px;-webkit-box-shadow: 0 3px 12px rgba(0,0,0,.15);box-shadow: 0 3px 12px rgba(0,0,0,.15);}
.navbar-default .navbar-nav .dropdown-menu a {color: #333;padding: 8px 20px;font-size:12px;text-transform:uppercase;}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{color:#093042;background:rgba(75, 66, 223, 0.1);}


.banner{padding:50px 0;position:relative;background: url(../images/banner.jpg) center right no-repeat;background-size: cover;}
/*
Hoy muj sang milkat etli ke bandhavu taj mahal tuj yad ma
kharchi nakhu ee badhi vitava be pal vadhu tuj sangath ma
.banner:after{position: absolute;left: 0;right:0;top:0;bottom:0;content: '';
background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(245,245,245,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(20%, rgba(255,255,255,1)), color-stop(100%, rgba(245,245,245,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(245,245,245,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(245,245,245,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(245,245,245,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(245,245,245,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0 );} */
.banner .banner-caption{text-align:left;position:relative;z-index:1;height:550px;}
.banner .banner-caption .inner-cap{width: 100%;}
.banner .banner-caption h2{color:#333;font-size:32px;margin:0 0 30px;font-weight:700;}
.banner .banner-caption h2 span{color:#00aeef;}
.banner .banner-caption h3{color:#333;font-size:20px;margin:0 0 50px;font-weight:200;line-height: 30px;}
.banner .banner-caption p{font-weight:200;color:#333;margin:0;font-size:20px;font-family: 'montserrat';}
.banner .banner-caption .btn-wrap a{margin:0 0 0 10px;}
.banner .banner-caption .btn-wrap a:first-child{margin:0;}
.banner .page-frm{margin:0 0 50px;}
.banner .page-frm .form-group{margin:0 0 10px;}
.form-control{border:solid 1px #ddd;border-radius:40px;padding:9px 20px;box-shadow:none;height:auto;}
.banner .banner-img{text-align:center;}
.banner .banner-img img{display:inline-block;}

.feat-sec{margin: 0 0 70px;}
.feat-sec:after{clear: both;display: block;content: '';}
.feat-sec:last-child{margin: 0;}
.feat-sec .feat-img{float: left;width: 58.33333333%;padding: 10px;background: #fff;box-shadow: 0px 0px 10px rgba(0,0,0,0.1);margin-bottom: -100px;}
.feat-sec .feat-desc{float: right;width: 58.33333333%;padding: 40px;background: #fff;box-shadow: 0px 0px 10px rgba(0,0,0,0.1);}
.feat-sec.right .feat-img{float: right;}
.feat-sec.right .feat-desc{float: left;}

.feat-sec .feat-img img{width: 100%;}
.feat-desc h3{font-size: 24px;font-weight: 800;margin: 0 0 20px;}
.feat-desc p{font-size: 16px;font-weight: 400;margin: 0;letter-spacing: 1px;line-height: 30px;}

.main-title{margin:0 0 50px;position:relative;}
.main-title h2{color:#333;font-size:32px;margin:0;font-weight:700;}
.main-title h3{color:#333;font-size:32px;margin:0;font-weight:200;}
.main-title .btn-wrap{margin:40px 0 0;}

.pad-block{padding:100px 0;position:relative;}
.first-pad{padding:50px 0 100px;}
.white-bg{background:#fff;}
.gray-bg{background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(245,245,245,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(20%, rgba(255,255,255,1)), color-stop(100%, rgba(245,245,245,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(245,245,245,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(245,245,245,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(245,245,245,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(245,245,245,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0 );}

.do-img{position:absolute;top:0;left:0;bottom:0;width:50%;padding:10px 5%;text-align:center;}
.do-img img{display:inline-block;max-height:100%;}
.do-block .main-title{margin:0 0 40px;}
.do-block p{margin:0 0 20px;font-size:16px;line-height:24px;}

.price-wrap {padding:100px 0;}
.price-wrap .main-title{margin:0 0 100px;}

.switch-plan .main-title{margin:0 0 100px;}

.plan-box{position:relative;max-width:850px;margin:0 auto;}
.plan-box:after{width:100%;bottom:-30px;}
.plan-box .sep{display:none;}
.plan-box .plan-block{padding: 20px 20px 40px;background: #f4f6f9;-moz-box-shadow: rgba(0,0,0,0.1) 0 20px 35px;-webkit-box-shadow: rgba(0,0,0,0.1) 0 20px 35px;box-shadow: rgba(0,0,0,0.1) 0 20px 35px;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;text-align:center;overflow:hidden;margin-bottom:40px;max-width:300px;margin-left:auto;margin-right:auto;}
.plan-box .plan-block:not(.current):hover{position:relative;z-index:2;-moz-transform:scale(1.1);-webkit-transform:scale(1.1);transform:scale(1.1);-webkit-transition: all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.plan-box .plan-block.current{-moz-transform:scale(1.1);-webkit-transform:scale(1.1);transform:scale(1.1);position:relative;z-index:2;}


.plan-block .p-title{line-height:24px;font-size:16px;text-transform:uppercase;color:#333;background:#fff;margin:-20px -20px 0;padding:15px;font-weight:700;}
.plan-block.current .p-title{color:#fff;background: rgba(107,99,255,1);
background: -moz-linear-gradient(-45deg, rgba(107,99,255,1) 0%, rgba(248,164,216,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(107,99,255,1)), color-stop(100%, rgba(248,164,216,1)));
background: -webkit-linear-gradient(-45deg, rgba(107,99,255,1) 0%, rgba(248,164,216,1) 100%);
background: -o-linear-gradient(-45deg, rgba(107,99,255,1) 0%, rgba(248,164,216,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(107,99,255,1) 0%, rgba(248,164,216,1) 100%);
background: linear-gradient(135deg, rgba(107,99,255,1) 0%, rgba(248,164,216,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b63ff', endColorstr='#f8a4d8', GradientType=1 );}
.plan-block .img{margin:35px 0;text-align:center;}
.plan-block .img img{max-width:100%;}

.plan-block .p-desc{margin:0 0 30px;}
.plan-block .p-desc ul{margin:0;}
.plan-block .p-desc ul li{margin:0 0 10px;font-size:14px;line-height:18px;color:#333;}
.plan-block .p-desc ul li.bold{font-weight:700;margin:0 0 20px;}
.plan-block .p-price{margin:0 0 30px;}
.plan-block .p-price h3{font-size:40px;font-weight:700;color:#093042;line-height:40px;margin:0 0 5px;}
.plan-block .p-price .dlr{font-size: 16px;margin-right: 3px;line-height:14px;}
.plan-block .p-price .time{font-size: 16px;margin-right: 3px;line-height:14px;text-transform:capitalize;}
.plan-block .pink-btn:hover{background:#4b42df;color:#fff;border-color:#4b42df;}
.plan-block.current .pink-btn{pointer-events: none;background:#4b42df;color:#fff;border-color:#4b42df;}
.plan-block.current .pink-btn span{margin-right:5px;}

.blog-block{margin: 0 0 30px;box-shadow: 0px 8px 20px rgba(0,0,0,0.15);background: #fff;}
.blog-block .b-img{position: relative;overflow:hidden;}
.blog-block .b-img img{width: 100%;}
.blog-block .b-desc{padding: 25px 20px;text-align: center;}
.b-desc .b-name{margin: 0 0 10px;font-size: 16px;color: #333;font-weight: 700;}
.b-desc p{color: #333;font-size: 14px;line-height: 24px;margin: 0;}

@media(min-width:768px){
.plan-box .plan-block.srt{margin-bottom:-20px}
.plan-box .plan-block.adv{margin-bottom:-20px}
.plan-box .plan-block.ent{margin-bottom:-20px}
.plan-block .p-desc{min-height:250px;}
}


footer{padding:50px 0 50px;background:#fff url(../images/footer-bg.png) center repeat-x;position:relative;z-index:1;background-size: auto 100%;}
footer .foot-cont{text-align:center;margin:0 0 40px;padding:0 0 40px;border-bottom:solid 1px #ddd;}
footer .foot-cont .foot-logo{margin:0;}
footer .copy{text-align:center;}
footer .copy ul{}
footer .copy li{display:inline-block;padding:0 15px;line-height:14px;font-size:14px;border-left:solid 1px #666;color:#666;}
footer .copy li:first-child{border-left:none;}
footer .copy a{line-height:14px;font-size:14px;color:#666;}

@media(min-width:991px){
.right-side{float:right;}
}
@media(max-width:1100px){
}
@media(max-width:991px){
.navbar-brand>img {max-width:199px;}
.navbar-default .navbar-nav {margin-top: 25px;}
header.sticky .navbar-default .navbar-nav{margin-top:8px;}
.navbar-default .navbar-nav>li{margin:0;}
.navbar-default .navbar-nav>li>a{padding:10px;}

.do-img{position:inherit;width:100%;padding:0 15px;margin:0 0 30px;}
.do-img img{max-width: 300px;width:100%;}
.do-block {text-align:center;}
}
@media(max-width:767px){
.navbar-default .navbar-nav{margin:0 0 10px;}
.navbar-default .navbar-nav>li.btn-view{margin-left:0;}
.navbar-default .navbar-nav>li>a{}
.banner .banner-caption .banner-title{font-size:36px;}
.banner .banner-caption p{font-size:16px;}
.banner .down-scroll{bottom:10px;}
.main-title h1{font-size:30px;line-height:34px;}

.pad-block {padding: 60px 0;}
.main-title h2{font-size:24px;}
.main-title h3{font-size:24px;}

.banner .banner-caption{min-height:inherit;max-width:inherit;text-align:center;margin:0 0 30px;}
.banner .banner-caption h2{font-size:24px;}
.banner .banner-caption h3{font-size:24px;}
.banner .banner-img img {max-width: 300px;width:100%;}

footer{padding:60px 0 30px}
footer .news-letter{padding:20px;}
}
@media(max-width:600px){
.banner{padding:30px 0;}
footer .news-letter .input-group{display:block;}
footer .news-letter .form-control{margin:0 0 10px;}
}


/* ----------  Common 

.header{-webkit-transition: all 0.3s ease;-o-transition:all 0.3s ease;transition: all 0.3s ease;border-bottom:none;padding:18px 0;position: fixed;width: 100%;z-index:3;top:0;}
.header.sticky{box-shadow:0px 0px 10px rgba(0,0,0,0.1);background:#fff;}

.navbar-default{margin:0;background:none;border:0;border-radius:0;box-shadow:none;box-shadow:none;}
.navbar-default .navbar-toggle{border:none;color:#fff;background:none;border-radius:3px;padding:10px;font-weight:400;text-align:center;margin-top:15px;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{color:#fff;background:none;}
.navbar-default .navbar-toggle .icon-bar{background:#53b9d0;}
.home header:not(.sticky) .navbar-default .navbar-toggle .icon-bar{background:#fff;}
.home .sticky .navbar-default .navbar-toggle .icon-bar{background:#53b9d0;}

.navbar-default .navbar-brand{height:auto;}
.navbar-default .navbar-brand img{-webkit-transition: all 0.4s ease;transition: all 0.4s ease;max-height:44px;}
.navbar-default .navbar-brand img.light{display: none;}
.home .navbar-default .navbar-brand img.light{display: block;}
.home .navbar-default .navbar-brand img.dark{display: none;}
.home .sticky .navbar-default .navbar-brand img.light{display: none;}
.home .sticky .navbar-default .navbar-brand img.dark{display: block;}
.header a, .header a *{-webkit-transition: all 0s ease;-o-transition:all 0s ease;transition: all 0s ease;}
.navbar-default .navbar-nav{margin-top:12px;}
.navbar-default .navbar-nav>li>a{color:#333;font-weight:400;font-size:14px;padding:10px 15px;}
header .navbar-default .navbar-nav>li>a{text-transform:uppercase;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{color:#53b9d0;background:none;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{color:#53b9d0;background:none;font-weight:700;}
.navbar-default .navbar-nav>li.btn-view{margin-left:20px;}
.navbar-default .navbar-nav>li.btn-view>a{border:none;color:#fff;background:#53b9d0;border-radius:40px;padding:10px 25px;text-decoration:none;line-height:20px;font-size:12px;letter-spacing:1.5px;text-transform:uppercase;box-shadow:0px 0px 20px rgba(83, 185, 208, 0.45);}
.navbar-default .navbar-nav>li.btn-view>a:hover{color:#fff;background:#3f9eb3;}

.home header:not(.sticky) .navbar-default .navbar-nav>li>a{color:#eee;}
.home header:not(.sticky) .navbar-default .navbar-nav>li>a:focus, .home header:not(.sticky) .navbar-default .navbar-nav>li>a:hover{color:#fff;}
.home header:not(.sticky) .navbar-default .navbar-nav>.active>a, .home header:not(.sticky) .navbar-default .navbar-nav>.active>a:focus, .home header:not(.sticky) .navbar-default .navbar-nav>.active>a:hover{color:#fff;}
.home header:not(.sticky) .navbar-default .navbar-nav>li.btn-view>a{color:#53b9d0;background:#fff;box-shadow:0px 10px 20px rgba(0, 0, 0, 0.15);}
.home header:not(.sticky) .navbar-default .navbar-nav>li.btn-view>a:hover{color:#53b9d0;background:#f5f5f5;}

.navbar-default .user-drop {margin:0 0 0 20px;}
.navbar-default .user-drop .dropdown-toggle{border:none;color:#fff;background:#6c63ff;border-radius:40px;padding:10px 20px;text-decoration:none;line-height:20px;font-size:12px;letter-spacing:1px;text-transform:uppercase;}
.navbar-default .user-drop .dropdown-toggle:hover, .navbar-default .user-drop .dropdown-toggle:focus{color:#fff;background:#4b42df;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{color:#fff;background:#4b42df;}
.navbar-default .navbar-nav .dropdown-menu {border: none;border-radius: 5px;top: 120%;right: 0;left: inherit;background:#fff;min-width:200px;-webkit-box-shadow: 0 3px 12px rgba(0,0,0,.15);box-shadow: 0 3px 12px rgba(0,0,0,.15);}
.navbar-default .navbar-nav .dropdown-menu a {color: #333;padding: 8px 20px;font-size:12px;text-transform:uppercase;}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{color:#4b42df;background:rgba(75, 66, 223, 0.1);}
.navbar-default .static-nav{float:right;margin:12px 0 0 15px;}
.static-nav .nav>li>a>svg{height:20px;display:inline-block;float:left;}
.static-nav .nav>li>a>.avatar-name{margin-left:10px;}
.static-nav .nav>li>a:after{clear:both;display:block;content:'';}
.static-nav .nav>li>a{padding:10px;background:none;color:#333;}
.static-nav .nav>li>a:focus, .static-nav .nav>li>a:hover{background:none;color:#53b9d0;}
.static-nav .nav>li>a:hover svg{fill:#53b9d0;}
.static-nav .dropdown-menu{right:0;left:inherit;border:none;border-radius:0;box-shadow:0px 5px 20px rgba(0,0,0,0.1);}
.static-nav .dropdown-menu a{padding:5px 20px;}

.header.sticky{padding:0;}

.pad-wrap{padding:80px 0;}
.pad-wrap.pb-0{padding-bottom:0;}
.white{background:#fff;}
.gray{background:#f5f5f5;}
.gray-bg{padding:100px 0 250px;position:relative;background:url(../images/gray-bg.png) center bottom no-repeat;}

.main-banner{padding:100px 0 250px;position:relative;background:url(../images/blue-bg.png) center bottom no-repeat;}
.main-banner:after{content:'';background:url(../images/blue-pattern.png) center top no-repeat;position:absolute;top:0;left:0;right:0;height:950px;}
.main-banner .inner-banner{z-index:1;position:relative;}
.main-banner .banner-caption{max-width:750px;margin:0 auto;text-align:center;padding:50px 0 0;}
.main-banner .baner-img{text-align:center;margin-top:80px;}
.main-banner .baner-img img{max-width:100%;display:inline-block;}
.banner-caption .banner-title{font-size:50px;color:#fff;font-weight:100;margin:0 0 40px;}
.banner-caption .banner-title span{font-weight:700;}
.banner-caption .banner-text{font-size:20px;color:#fff;font-weight:300;margin:0 0 40px;}
.banner-caption .white-btn{font-size:16px;}

.main-title{margin:0 0 80px;text-align:center;}
.main-title h1{font-size:50px;color:#333;font-weight:100;margin:0 auto 40px;max-width:750px;}
.main-title h1 span{font-weight:700;}
.main-title .title-line{font-size:20px;color:#666;font-weight:300;margin:0 auto 40px;max-width:750px;}

.four-wrap{position:relative;background:#f9f9f9;box-shadow:0px 10px 20px rgba(0, 0, 0, 0.15);padding:50px 0;}
.four-wrap [class*="col-"]{position:relative;}
.four-wrap [class*="col-"]:before{content:'';position:absolute;width:2px;height:100%;left:-1px;top:0;background:url(../images/dote-line.png);}
.four-wrap [class*="col-"]:first-child:before{background:none;}
.four-wrap .four-block{min-height:250px;text-align:center;}
.four-block .four-icn{display:inline-block;margin:0 0 20px;}
.four-block .four-icn img{width:100px;}
.four-block .four-title{font-size:18px;line-height:22px;font-weight:600;color:#333;margin:0 0 20px;font-family: 'Roboto', sans-serif;}
.four-block .four-text{font-size:14px;line-height:22px;font-weight:400;color:#999;margin:0 auto 0;max-width:450px;}

.sing-frm{margin:0 auto 40px;max-width:500px;text-align:center;}
.form-control{border-radius:3px;box-shadow:none;height:auto;padding:15px 20px;}
.sing-frm .com-btn{margin-top:20px;}

footer{padding: 0px;background: #333;position:relative;}
footer:before{width:100%;height:5px;background: #53b9d0;content:'';position:absolute;top:0;left:0;box-shadow:0px 0px 20px rgba(83, 185, 208, 0.45);z-index:1;}
footer .footer-container {padding: 50px 0;}

footer .footer-title{border-bottom:solid 1px #252525;padding-bottom:20px;color:#FFF;font-weight:600;font-size:16px;position:relative;margin:0 0 30px;}
footer .footer-title:after{content:"";position:absolute;bottom:-1px;left:0;width:30px;height:2px;background:#53b9d0;}
footer .footer-about .footer-logo{display:block;margin-bottom:20px;}
footer .footer-about .footer-logo img{max-width:100%;}
footer .footer-about .desc{font-size:13px;color:#eee;margin:0;}
footer .footer-nav ul{margin:0;padding:0;list-style:none;}
footer .footer-nav ul li{display:block;padding:0 0 0 20px;background:url(../images/dote.png) 5px center no-repeat;}
footer .footer-nav ul li a{color:#eee;font-size:14px;line-height:24px;}
footer .footer-nav ul li a:hover{color:#53b9d0;}
footer .footer-contact p{color:#eee;font-size:14px;line-height:18px;margin-bottom:15px;padding:0;}
footer .footer-contact p a{color:#eee;}
footer .footer-contact p a:hover{color:#53b9d0;}
footer .footer-subscrib .desc{color:#eee;font-size:14px;margin-bottom:15px;}
footer .footer-subscrib input[type=text]{border:solid 1px #000;width:100%;padding:10px 15px;border-radius:3px;font-size:13px;margin-bottom:15px;height:auto;}
footer .footer-subscrib .com-btn{width:100%;border:none;}

.copyright-sectios{padding: 20px 0px;background: #111;color: #FFFFFF;font-size: 12px;font-weight: 300;position:relative;}
.copyright-sectios .copy{float:left;}
.copyright-sectios .copy p{margin:0;font-size:13px;line-height:20px;font-family: 'Raleway', sans-serif;}
.copyright-sectios .social{margin:0;padding:0;list-style:none;float:right;}
.copyright-sectios .social:after{clear:both;display:block;content:'';}
.copyright-sectios .social li{float:left;margin:0 0 0 20px;}
.copyright-sectios .social li:first-child{margin:0;}
.copyright-sectios .social a{font-size:16px;line-height:20px;display:block;color:#fff;}
.copyright-sectios .social a:hover{color:#53b9d0;}



.advantage-bg{background:url(../images/light-pattern.png) center no-repeat;}
.advantage-box {margin: 0 auto 80px;position: relative;z-index: 1;overflow:hidden;}
.advantage-box .advantage-desc {min-height: 410px}
.advantage-box .advantage-desc .advantage-inner {margin: 0;width: 100%;}
.advantage-box .advantage-desc .advantage-inner .advantage-icn {margin: 0 0 30px}
.advantage-box .advantage-desc .advantage-inner .advantage-icn img{width: 50px;}
.advantage-box .advantage-desc .advantage-inner .advantage-title {font-size: 30px;color: #333;font-weight: 400;margin: 0 0 30px;}
.advantage-box .advantage-desc .advantage-inner .advantage-t {font-size: 16px;line-height: 24px;color: #666;font-weight: 400;margin: 0;}
.advantage-box .advantage-image {position: absolute;height: 100%}
.advantage-box .advantage-image img {height: 100%}
.advantage-box:after {clear: both;display: block;content: ''}
.advantage-box.left .advantage-image {left: 45%;text-align: left}
.advantage-box.right .advantage-image {right: 45%;text-align: right}

.filter-box{color:#fff;background:#53b9d0;padding:15px 10px;border-radius:60px;max-width:350px;text-align:center;box-shadow:0px 0px 20px rgba(83, 185, 208, 0.45);margin:0 auto;}
.filter-box .switch-tbl{display:table;width:100%;}
.filter-box .tbl-cell{display:table-cell;width:10%;vertical-align:middle;}
.filter-box .tbl-cell.lbl{width:45%;}
.filter-box .lbl span{font-size:20px;font-weight:700;}

.price-wrap{margin:0 0 80px;}
.price-wrap .proce-box{margin:0 0 30px;}
.proce-box .desc-box{border-radius:20px;border:solid 1px #ddd;padding:30px 20px;text-align:center;background:#fff;}
.proce-box.prem .desc-box{background:#53b9d0;}
.proce-box .price-title{font-size:20px;font-weight:900;color:#333;margin:0;padding:0 0 20px;letter-spacing:2px;text-transform:uppercase;}
.proce-box.prem .price-title{color:#fff;}
.proce-box .desc-txt{border-top:solid 1px #d7e9ed;border-bottom:solid 1px #d7e9ed;padding:10px 0;min-height:100px;}
.proce-box.prem .desc-txt{border-top:solid 1px #44a7bd;border-bottom:solid 1px #44a7bd;}
.proce-box .desc-txt p{margin:0;font-size:16px;line-height:24px;color:#333;}
.proce-box .desc-txt p span{display:inline-block;}
.proce-box.prem .desc-txt p{color:#fff;}
.proce-box .price-sec{padding-top:20px;}
.proce-box .price-sec h3{font-size:40px;font-weight:900;color:#333;line-height:40px;margin:0 0 5px;}
.proce-box.prem .price-sec h3{color:#fff;}
.proce-box .price-sec .dlr{font-size: 16px;margin-right: 3px;line-height:14px;font-weight:700;}
.proce-box .price-sec .time{font-size: 16px;margin-right: 3px;line-height:14px;text-transform:capitalize;font-weight:700;}
.proce-box .btn-box{border-radius:0 0 20px 20px;padding:20px;text-align:center;background:#fff;margin:0 20px;box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);}
.proce-box .btn-box .com-btn{min-width:inherit;width:100%;padding:10px;}

.testi-wrap{}
.testi-wrap .item{padding:0 40px 50px;margin:0 0 20px;}
.testi-block{border-radius:20px;padding:30px 20px 30px 50px;background:#fff;box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);position:relative;}
.testi-block p{font-size:14px;line-height:24px;margin:0 0 20px;}
.testi-block .icn-box{background:#53b9d0;border-radius:60px;box-shadow:0px 0px 20px rgba(83, 185, 208, 0.45);position:absolute;left:-25px;top:30px;}
.testi-block .icn-box img{display:block;}
.testi-block .auth{border-radius:20px;padding:20px;background:#fff;box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);margin-bottom:-60px;}
.testi-block .auth p{font-weight:700;margin:0;}
.testi-wrap .owl-dots{display:block;text-align:center;}
.testi-wrap .owl-carousel .owl-dot{display:inline-block;margin:0 3px;width:6px;height:6px;background:#ddd;border-radius:10px;}
.testi-wrap .owl-carousel .owl-dot.active{background:#53b9d0;}



.switch {position: relative;display: block;width: 50px;height: 10px;margin:0;}
.stc label.switch{margin:0;}
.stc .switch input {display:none;}
.stc .slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background: #2b859a;-webkit-transition: .4s;transition: .4s; border-radius: 34px;}
.stc .slider:before {position: absolute;content:'';height: 24px;width: 24px;left: 0;bottom: -7px;background-color: white;-webkit-transition: .4s;transition: .4s; border-radius: 50%;}
.stc input:checked + .slider {background: #78dbf1;}
.stc input:checked + .slider:before {-webkit-transform: translateX(26px);-ms-transform: translateX(26px);transform: translateX(26px);}

@media (min-width: 768px) {.right-side{float:right;}}
@media (max-width: 1200px) {
.advantage-box.left .advantage-image {left: 35%;}
.advantage-box.right .advantage-image {right: 35%;}
}
@media (max-width: 990px) {
.navbar-brand>img {max-width:199px;}
.navbar-default .navbar-nav>li{margin:0;}
.navbar-default .navbar-nav>li>a{padding:10px;}
.main-banner .baner-img{margin-left:-10%;margin-right:-10%;}
.advantage-box .container{width:100%;}
.advantage-box .advantage-desc {min-height: 350px}
.testi-wrap .item{padding:0 20px 50px 30px;}
.proce-box .desc-txt{min-height:80px;}
footer .footer-about,
footer .footer-nav ul{margin:0 0 40px;}
}
@media (max-width: 767px){
.navbar-default .navbar-collapse{background:#53b9d0;}
.navbar-default .navbar-nav{margin:0 0 10px;}
.navbar-default .navbar-nav>li.btn-view{margin-left:0;}
.navbar-default .navbar-nav>li>a{}
.navbar-default .navbar-nav>li.btn-view a{display:inline-block;}

.pad-wrap{padding:50px 0;}
.main-title{margin:0 0 50px;}
.main-title h1 {font-size: 32px;line-height: 36px;font-weight: 200;margin:0 0 20px;}
.main-title .title-line {font-size: 16px;line-height: 24px;margin-bottom:20px;}
.main-banner:after {top: inherit;bottom: 300px;}
.advantage-box {padding: 0}
.advantage-box .advantage-desc {width: 100%;min-height: inherit}
.advantage-box .advantage-desc .advantage-block {max-width: inherit}
.advantage-box .advantage-image {position: relative;height: 400px;padding-bottom: 30px}
.advantage-box .advantage-image img {position: absolute;height: calc(100% - 30px)}
.advantage-box .advantage-desc {padding: 0 80px}
.advantage-box.left .advantage-image {left: inherit;}
.advantage-box.left .advantage-image img {left: 0}
.advantage-box.right .advantage-image {right: inherit;}
.advantage-box.right .advantage-image img {right: 0}
}
@media (max-width: 600px) {
.advantage-box .advantage-image {height: 300px}
.advantage-box .advantage-desc {padding: 0 15px}
.advantage-box.left .advantage-image {left: -30px}
.advantage-box.right .advantage-image {right: -30px}
footer .col-xs-6, .price-wrap .col-xs-6{width:100%;}
.proce-box .desc-txt{min-height:inherit;}
.testi-wrap .item{padding:0 10px 50px 30px;}
.testi-block{padding:20px 20px 20px 35px;}
}
@media (max-width: 450px) {
.advantage-box .advantage-image {height: 250px}
}
Home page End  ----------------------*/



/*  --------------  Signin page Start -- */
.log-wrap{position:relative;min-height:100vh;}
.log-wrap .left-sec{position:absolute;left:0;top:0;bottom:0;width:400px;padding:30px;background:#fff;box-shadow:10px 0px 30px rgba(0,0,0,0.2);min-height:100vh;z-index:1;}
.log-wrap .left-sec .inner-sec{width:100%;}
.log-wrap form{max-width:300px; margin:0 auto;text-align:center;}
.log-wrap form .logo{margin:0 0 50px;text-align: center;}
.log-wrap form .logo img{max-width: 200px;}
.log-wrap form .checkbox{margin:0 0 30px;text-align:left;}
.log-wrap form .checkbox:after{clear:both;display:block;content:'';}
.log-wrap form .forgot{float:right;}
.log-wrap form .com-btn{min-width:140px;}
.log-wrap .right-sec{margin-left:400px;min-height:100vh;display:block;}
.log-wrap .right-sec.signin{background:url(../images/reception.jpg) center no-repeat;background-size:cover;}
.log-wrap .right-sec.signup{background:url(../images/signup.jpg) center no-repeat;background-size:cover;}

.form-group{margin:0 0 20px;}
.form-group label{font-size:16px;margin:0 0 10px;font-weight:600;line-height:16px;}
.form-control{box-shadow:none;border-radius:0;border:solid 1px #ddd;font-size:14px;line-height:20px;padding:8px 15px;height:auto;outline:none;color:#222;}
.input-group .form-control:last-child{border-radius:0;}
.form-control:focus{outline:none;box-shadow:none;border-color:#00aeef;}
.form-control::-webkit-input-placeholder{color:#d9d9d9;font-weight:300;}
.form-control::-moz-placeholder{color:#d9d9d9;font-weight:300;}
.form-control:-ms-input-placeholder{color:#d9d9d9;font-weight:300;}
.form-control:-moz-placeholder{color:#d9d9d9;font-weight:300;}
.input-group-addon{background:#f9f9f9;color:#ccc;border-color:#ddd;border-radius: 0;}

.checkbox, .radio{margin:0;}
.checkbox label, .radio label{display:inline-block;vertical-align:0px;font-weight:400;cursor: pointer;padding-left:0;margin:0;line-height:normal;font-size:14px;padding-left:26px;position:relative;}
.checkbox label + label, .radio label + label{display:block;margin-top:20px;}
.checkbox input[type=checkbox], .radio input[type=radio]{display:none;}
.checkbox .icn, .radio .icn{display:inline-block;width:16px;height:16px;border:solid 2px #d9d9d9;position:absolute;left:0;top:2px;}
.radio input[type=radio] ~ .icn{border-radius:50%;}
.checkbox label:hover .icn, .radio label:hover .icn{border:solid 2px #a3a3a3;}
.checkbox input[type=checkbox]:checked ~ .icn,
.radio input[type=radio]:checked ~ .icn{border:solid 2px #00aeef;}
.checkbox input[type=checkbox]:checked ~ .icn:after,
.radio input[type=radio]:checked ~ .icn:after{content:'';position:absolute;top:3px;left:3px;height:6px;width:6px;background:#00aeef;}
.radio input[type=radio]:checked ~ span:after{border-radius:50%;}
.center-line {text-align: center;margin: 40px 0px;height: 1px;background: #9a9ca5;}
.center-line span {position: relative;top: -0.7em;padding-left: 15px;padding-right: 15px;background: #fff;}



@media (max-width: 1200px){
.log-wrap .left-sec{width:300px;}
.log-wrap .right-sec{margin-left:300px;}
}
@media (max-width: 767px){
.log-wrap{padding:1px 0 0;}
.log-wrap .left-sec{width:100%;max-width:340px;padding:30px 20px;left:50%;top:50px;margin-left:-170px;bottom:inherit;min-height:100px;box-shadow: 0px 10px 30px rgba(0,0,0,0.2);}
.log-wrap .right-sec{margin:150px 0px 0px;min-height:calc(100vh - 151px);}
}
@media (max-width: 400px){
.log-wrap .left-sec{max-width:280px;margin-left:-140px;}
}
/* ----- Signin page End  ----------------------*/



/* Common css */
.wrapper{min-height: 100vh;background: #f3f5f7;padding: 30px 30px 30px 280px;}
.wrapper:after{clear: both;display: block;content: '';}
.wrapper .sidebar{position: fixed;top: 0;left: 0;bottom: 0;padding-bottom: 60px;background: #fff;box-shadow: 0px 0px 30px rgba(0,0,0,0.05);width: 250px;}
.wrapper .cont-wrap{}

.page-head{}
.page-head:after{clear: both;display: block;content: '';}
.page-head .title-d{float: left;width: 70%;padding-right: 15px;}
.title-d h3{font-size: 22px;margin: 0;font-weight: 700;line-height: 40px;}
.page-head .head-act{float: left;width: 30%;text-align: right;padding-left: 15px;}
.head-act .head-btn{font-size:14px;color:#fff;background:#00aeef;border:solid 1px #00aeef;padding:8px 25px;font-weight:400;line-height:22px;display:inline-block;border-radius:0;text-align:center;}
.head-act .head-btn:hover, .head-act .head-btn:focus{background:#093042;color:#fff;border-color:#093042;}

.sidebar .logo{padding: 35px 15px;display: block;text-align: center;}
.sidebar .logo a{display: inline-block;}
.sidebar .logo a img{width: 100%;max-width: 170px;}
.sidebar .navbar-collapse{padding:0;}
.sidebar .navbar-nav{display:block;float:none;}
.sidebar .navbar-nav>li{float:none;display:block;}
.sidebar .navbar-nav>li>a{font-size:14px;color:#666;padding:10px 30px 10px 26px;line-height: 24px;border-left: solid 4px rgba(83, 185, 208, 0);font-weight: 500;}
.sidebar .navbar-nav>li>a svg{width: 20px;height: 20px;display: inline-block;margin-right: 8px;vertical-align: -4px;}
.sidebar .nav>li>a:focus, .sidebar .nav>li>a:hover{background:rgba(0, 174, 239, 0.05);color:#093042;}
.sidebar .nav>li.active>a, .sidebar .nav>li.active>a:focus, .sidebar .nav>li.active>a:hover{background:rgba(0, 174, 239, 0.1);color:#333;border-left: solid 4px rgba(0, 174, 239, 1);}
.sidebar .dropdown-menu{background:#fff;border:none;width:calc(100% - 20px);margin:0;padding:5px 0;float:none;z-index: 1;left: 10px;}
.sidebar .dropdown-menu>li>a{padding:8px 15px 8px 30px;color:#093042;font-size:16px;}
.sidebar .dropdown-menu>li>a:focus, .sidebar .dropdown-menu>li>a:hover{background:rgba(0, 174, 239, 0.05);color:#093042;}

@media(min-width: 768px){
.sidebar .fix-nav{position:absolute;bottom:0;left:0;width:250px;padding: 10px 0;}
.sidebar .fix-nav:before{content: '';height: 1px;background: #eee;top: 0;left: 20px;right: 20px;position: absolute;z-index: 0;}
.sidebar .fix-nav>.nav>li{float:none;display:block;}
.sidebar .fix-nav>.nav>li>a{font-size:14px;color:#093042;padding:10px 30px;line-height: 20px;font-weight: 500;}
.sidebar .fix-nav>.nav>li>a svg{width: 20px;height: 20px;display: inline-block;margin-right: 8px;vertical-align: -4px;}
.sidebar .fix-nav>.nav>li>a:focus, .sidebar .fix-nav>.nav>li>a:hover{background:rgba(0, 174, 239, 0.05);color:#093042;}

.sidebar .fix-nav>.nav>li>.dropdown-menu{position:absolute;}
.sidebar .fix-nav .dropdown-menu>li>a{font-size:14px;}
}
@media(max-width: 767px){
.wrapper .sidebar{width: 100%;bottom: inherit;padding: 0;}

.sidebar .logo{float: left;padding: 15px;}
.sidebar .fix-nav{float: right;margin-top: 10px;}
.sidebar .fix-nav>.nav>li>a svg{width: 20px;height: 20px;display: inline-block;}
.sidebar .navbar-collapse{position: absolute;top:100%;left:0;width: 100%;background: #fff;}
.sidebar .navbar-nav{margin: 8px 0;}
.sidebar .dropdown-menu{bottom: inherit;top: 100%;right: 0;left: inherit;}
.dropup .dropdown-menu{bottom: inherit;top: 100%;right: 0;left: inherit;}
.sidebar .avatar-name{display: none;}
.navbar-toggle{margin-top: 14px;}
.navbar-toggle .icon-bar{background: #00aeef;}
}
/* Common css */

/* Common css */

.page-head{margin: 0 0 30px;    }

.card-bg{background: #fff;margin: 0 0 30px;}
.card-bg .card-head{padding: 14px 60px 14px 30px;position: relative;}
.card-bg .card-head:after{clear: both;display: block;content: '';}
.card-head h3{font-size: 16px;font-weight: 600;margin: 0;line-height: 32px;}
.card-head .card-act{position: absolute;top:0;right:0;}
.card-act .dropdown{}
.card-act .dropdown .dropdown-toggle{width: 50px;height: 60px;line-height: 60px;text-align: center;border: none;background: none;outline: none;padding: 0;color:#999;}
.card-act .dropdown-toggle .fa{font-size: 18px;}
.card-act .open>.dropdown-menu{left: inherit;right: 0;box-shadow: none;border-radius: 0;}
.card-bg .card-body{padding: 30px;border-top:solid 1px #eee;}

.table{margin: 0;}
.table>thead>tr>th{padding: 15px 20px;font-size: 14px;background: #333;color:#fff;border: none;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{padding: 15px 20px;font-size: 14px;vertical-align: middle;}
.table>tbody>tr>td.act, .table>tbody>tr>th.act, .table>tfoot>tr>td.act, .table>tfoot>tr>th.act, .table>thead>tr>td.act, .table>thead>tr>th.act{text-align: right;}
.table .tbl-act{display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-align: center;align-items: center;-ms-flex-pack: end;justify-content: flex-end;}
.table .tbl-act a{width: 24px;height: 24px;line-height: 24px;text-align: center;margin: 0 0 0 5px;font-size: 16px;}
.table .tbl-act a:first-child{margin: 0;}

.avatar-view{display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-align: center;align-items: center;}
.avatar-view .avatar-img{width: 30px;height: 30px;border-radius: 50%;overflow: hidden;}
.avatar-view .avatar-img img{width: 100%;}
.avatar-view .avatar-name{width: calc(100% - 30px);padding-left: 10px;}
/* Common css */